<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>CONVOCATION CANDIDAT</title>
    <style>
        @page{
            size: A4;
            margin: 0cm;
        }
        * {
            box-sizing: border-box;
        }
        .container {
            margin: 0.4cm;
        }
        .row{
            display:flex;
            justify-content:flex-start;
            align-items:stretch;
            flex-wrap:nowrap;
            padding-bottom : 10px;
        }
        .row_large{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: stretch;
        }
        .cell{
            min-height: 21px;
            flex-grow: 1;
            flex-basis: 100%;
            padding: 1px;
        }
        .info{
            margin-left: 0px;
        }
        .title{
            text-align: center;
            font-size: 1em;
            margin-top: 10px;
        }
        .subtitle {
            padding: 3px;
            font-size: 1em;
            text-align: center;
            background: lightgreen;
        }
        .subtitle2 {
            padding: 2px;
            font-style: italic;
            text-decoration: none;
        }
        .subtitle3 {
            text-align:center;
            text-decoration: none;
            margin-bottom: 10px;
            font-style: italic;
        }
        .title2{
            flex-grow: 1;
            flex-basis: 100%;
            text-align: left;
            margin: 7px 20px 7px 0;
            border-bottom: 1px solid silver;
            border-width: thin;
            margin-left: 20px;
        }
        .label{
            font-size: 1em;
        }
        .result{
            font-weight: bold;
            font-size: .9em;
        }
        @media (max-width: 768px){
            .row{
                flex-wrap: wrap;
            }
        }
        .footer {
            position: fixed;
            bottom: 10;
            width: 100%;
            text-align: center;
        }
        .footer img {
            display: block;
        }
        .table {
            width: 100%;
            text-align: center;
        }
        .table th, .table td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class='container'>
        {% set recrutementNom = recrutement.nom ?? 'Recrutement' %}
        {% set civilite = 'M.' %}
        {% if candidature.sexe == 'FEMININ' %}
            {% set civilite = candidature.situationMatrimoniale == 'MARIE(E)' ? 'Mme' : 'Mlle' %}
        {% endif %}
        {% set convocationDate = convocation.date ? convocation.date|date('d/m/Y') : '' %}
        {% set heureDebut = convocation.heureDebut ? convocation.heureDebut|date('H\\hi') : '' %}
        {% set heureFin = convocation.heureFin ? convocation.heureFin|date('H\\hi') : '' %}

        {% if image.entete %}
            <img src='{{ image.entete }}' style='width: 100%'>
        {% endif %}
        
        <br><br>
        
        <section for='title'>
            <div class='row'>
                <div class='cell'>
                    <div class='subtitle'>{{ recrutementNom|upper }} <br> CONVOCATION</div>
                </div>
            </div>
        </section>
        <br>
        <section>
            <table style="width: 100%; border: none; text-align: left">
                <tr>
                    <td style="width: 25%; font-weight: bold">Numéro d'inscription</td>
                    <td>: <span style='color: #ff0040'>{{ candidature.numCandidature }}</span> <small>(Ce numéro vous servira à consulter votre résultat)</small></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Nom</td>
                    <td>: {{ civilite }}&nbsp;{{ candidature.nom ? candidature.nom|upper : '' }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Prénom(s)</td>
                    <td>: {{ candidature.prenom ? candidature.prenom|upper : '' }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Date & lieu de naissance</td>
                    <td>: {{ candidature.dateNaissance ? candidature.dateNaissance|date('d/m/Y') : '' }} &nbsp; à &nbsp; {{ candidature.lieuNaissance ? candidature.lieuNaissance|upper : '' }}</td>
                </tr>
            </table>
            
            <br><br>
            
            <table class='table' cellspacing="0">
                <thead style='background: #f1f1f1'>
                    <tr>
                        <th>CENTRE</th>
                        <th>JURY</th>
                        <th>DATE</th>
                        <th>HEURE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ convocation.lieu ?? '' }}</td>
                        <td>
                            {% if convocation.jurys is not empty %}
                                {{ convocation.jurys|join('<br>')|raw }}
                            {% else %}
                                &mdash;
                            {% endif %}
                        </td>
                        <td>{{ convocationDate }}</td>
                        <td>
                            {% if heureDebut and heureFin %}
                                {{ heureDebut }} - {{ heureFin }}
                            {% elseif heureDebut %}
                                {{ heureDebut }}
                            {% else %}
                                &mdash;
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='4' style='background: #fbfbfb; padding: 5px 0 5px 0'>
                            <small>
                                <b>METIER</b> : {{ candidature.metier ? candidature.metier.nom : '' }}
                            </small>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <br><br>
            
            <b>N.B</b>
            <ul>
                <!--li>Une pièce d'identité et la convocation sont exigées à l'entrée de la salle d'examination</li-->
                <li>La pièce d'identité, le diplôme original ou la copie légalisée et la convocation sont exigées à l'entrée de la salle d'entretien ;</li>
                <li>Les entretiens sont prévus entre 08h30 et 16h30.</li>
            </ul>
        </section>
        <section class='footer'>
            <img src='https://api.qrserver.com/v1/create-qr-code/?size=70x70&data={{ candidature.numCandidature }}' style='padding: 5px; border: 1px solid black'><br>
            <br><br>
            {% if image.footer %}
                <img src='{{ image.footer }}' style='width: 100%'>
            {% endif %}
        </section>
    </div>
</body>
</html>
