
{% extends 'base.html.twig' %}

{% block page_content %}

<div class="row mt-5 justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">{{ title|default('Critere') }}</h6>

                {{ form_start(form, {'attr': {'class': 'forms-sample'}}) }}

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.libelle) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.bareme) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.grilleEvaluation) }}
                    </div>
                </div>

            

                <div class="row mt-4">
                    <div class="col-12">
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                         <button type="submit" class="btn btn-primary me-2">
                            {{ button_label|default('Save') }}
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
