{% extends 'base.html.twig' %}

{% block page_content %}
<div class="row mt-5 justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">{{ title|default('Centre') }}</h6>

                {{ form_start(form, {'attr': {'class': 'forms-sample'}}) }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.nom) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.type) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.region) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.departement) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.adresse) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.contacts) }}
                    </div>
                </div>

                {% if form.metiers is defined %}
                    {{ form_row(form.metiers) }}
                {% endif %}

                <div class="row mt-4">
                    <div class="col-12">
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                        <button type="submit" class="btn btn-primary me-2">
                            {{ button_label|default('Save') }}
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

    </div>

</div>

    <a href="{{ path('app_centre_index') }}" class="btn btn-secondary">Retour à la liste</a>

{% endblock %}

