{% extends 'base.html.twig' %}

{% block page_content %}

<div class="row mt-5 justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">{{ title|default('Partenaire') }}</h6>
                
                {{ form_start(form, {'attr': {'class': 'forms-sample', 'enctype': 'multipart/form-data'}}) }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.nom) }}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.logoFile) }}
                            <div class="input-group">
                                {{ form_widget(form.logoFile, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {{ form_help(form.logoFile) }}
                            {{ form_errors(form.logoFile) }}
                            
                            {% if partenaire.logo %}
                                <div class="mt-2">
                                    <p>Logo actuel :</p>
                                    <img src="{{ asset(partenaire.logo) }}" alt="Logo actuel" class="img-thumbnail" style="max-width: 200px;">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.email) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.contact) }}
                    </div>
                   
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                        <button type="submit" class="btn btn-primary me-2">
                            {{ button_label|default('Save') }}
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<a href="{{ path('app_partenaire_index') }}" class="btn btn-secondary">Retour à la liste</a>


{% endblock %}