{% extends 'base.html.twig' %}

{% block title %}Diplome index{% endblock %}

{% block page_content %}
    <h1 class="mb-4">Liste des Diplômes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diplome in diplomes %}
            <tr>
                <td>{{ diplome.id }}</td>
                <td>{{ diplome.libelle }}</td>
                <td>

                    <a href="{{ path('app_diplome_edit', {'id': diplome.id}) }}" class="btn btn-warning btn-lg mt-1">edit</a>
                    <form method="post" action="{{ path('app_diplome_delete', {'id': diplome.id}) }}" class="d-inline" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce diplome ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ diplome.id) }}">
                        <button class="btn btn-danger btn-lg mt-1">Supprimer</button>
                        </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_diplome_new') }}" class="btn btn-primary btn-lg mt-1">
    Nouveau
</a>
{% endblock %}
