{% extends 'base.html.twig' %}

{% block title %}Notation index{% endblock %}

{% block page_content %}
    <h1 class="mb-4">Liste des Notations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Note</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notation in notations %}
            <tr>
                <td>{{ notation.id }}</td>
                <td>{{ notation.note }}</td>
                <td>{{ notation.commentaire }}</td>
                
                <td>
                    <a href="{{ path('app_notation_edit', {'id': notation.id}) }}" class="btn btn-warning btn-lg mt-1">Modifier</a>
                    <form method="post" action="{{ path('app_notation_delete', {'id': notation.id}) }}" class="d-inline" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette candidature ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notation.id) }}">
                        <button class="btn btn-danger btn-lg mt-1">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_notation_new') }}" class="btn btn-primary btn-lg mt-1">
    Nouveau
</a>
{% endblock %}
